RewriteEngine On
   RewriteRule ^welcome$ pages/shared/index.php [L]
   RewriteRule ^login$ pages/shared/login.php [L]
   RewriteRule ^register$ pages/shared/register.php [L]
   RewriteRule ^news$ pages/shared/news.php [L]
   RewriteRule ^events$ pages/shared/events.php [L]
   # student
   RewriteRule ^s/dashboard$ pages/student/dashboard.php [L]
   RewriteRule ^s/details$ pages/student/details.php [L]

   # admin
   RewriteRule ^a/dashboard$ pages/admin/dashboard.php [L]
   RewriteRule ^a/manage$ pages/admin/manage.php [L]
   RewriteRule ^a/pending$ pages/admin/pending.php [L]
   RewriteRule ^addEvent$ pages/admin/addEvent.php [L]
   RewriteRule ^addNews$ pages/admin/addNews.php [L]

  